{{ with .Site.Params.algolia_docsearch }}
<!-- stylesheet for algolia docsearch -->
{{ end }}

{{/* 内容主体样式 */}}
{{ $customSCSS := "style/custom.scss"}}
{{ $customCSS := resources.Get $customSCSS | toCSS (dict "enableSourceMap" false) | postCSS | minify | fingerprint }}
<link rel="preload" href="{{ $customCSS.RelPermalink }}" as="style">
<link href="{{ $customCSS.RelPermalink }}" rel="stylesheet" integrity="{{ $customCSS.Data.integrity }}">
{{ $fontawesomeSCSS := "style/fontawesome/v5.9.0/css/all.css"}}
{{ $fontawesomeSCSS := resources.Get $fontawesomeSCSS (dict "enableSourceMap" false) | postCSS | minify | fingerprint }}
<link href="{{ $fontawesomeSCSS }}" rel="stylesheet">